extends layout

block localscripts
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/attendeeClient.js')
		
block content

	h1= title

	if error
		p
			| error

	else 
		div(id='attendee-info', class='invisible', data-attendeeId=data.attendee._id)

		h2
			| Queues to Join

		div(class='container-fluid')
			div(class='row')
				each queue in data.queuesAttendeeIsNotIn
					div(class='col-sm-4')
						| #{queue.attractionName}
					div(class='col-sm-8')
						a(href=queue.url + '/addAttendee/:' + data.attendee._id)
							| join queue
				else
					div(class='col-sm-4')
						| no queues to join

		h2
			| Queues Attendee Is In
		
		div(class='container-fluid')
			div(class='row')
				each item in data.attendeeInQueues
					div(class='col-sm-4')
						| #{item.queue.attractionName}
					div(class='col-sm-8')
						a(href= item.queue.url + '/removeAttendee/:' + item.attendee)
							| leave queue
						
				else
					div(class='col-sm-4')
						| not in any queues

		script(src='/socket.io/socket.io.js')