extends layout

block content
	h1= title

	if error
		p
			| error

	else 
		h2
			| Queues to Join

		ul
			each queue in data.queuesAttendeeIsNotIn
				li
					a(href=queue.url + '/addAttendee/:' + data.attendee._id)
						| #{queue.attractionName}
			else
				| no queues

		h2
			| Queues Attendee Is In
		ul
			each item in data.attendeeInQueues
				li
					a(href=data.attendee.url)
						| #{item.queue.attractionName}
			else
				| not in any queues
