extends layout

block localscripts
		script(src='/socketlib/socket.io.js')
		script(src='/javascripts/attendeeClient.js')

block content

	h1= title

	div(id='attendee-core-dynamic-info')

		if error
			p
				| error

		else
			if !data
				p
					| searching for your queues...
			else
				div(id='attendee-info', class='invisible', data-attendeeid=data.attendee._id)

				h2
					| Queues to Join

				div(class='container-fluid')
					div(class='row left-border')
						each queue in data.queuesAttendeeIsNotIn
							div(class='row')
								div(class='col-xs-12 left-spacing-small')
									h3
										| #{queue.attractionName}
							div(class='row')
								div(class='col-xs-4 left-spacing-large')
									| Average wait time
								div(class='col-xs-4')
									| tbd
								div(class='col-xs-4')
							div(class='row')
								div(class='col-xs-12 left-spacing-large')
									span(class='button'
										onclick='handleQueueChange(event)'
										data-queue-change-url=queue.url + '/addAttendee/:' + data.attendee._id
										data-queue-change-type='join')
										| join queue
						else
							div(class='row')
								div(class='col-xs-12 left-spacing-small')
									| no queues to join

				h2
					| Queues You're In

				div(class='container-fluid')
					div(class='row left-border')
						each item in data.attendeeInQueues
							div(class='row')
								div(class='col-xs-12 left-spacing-small')
									h3
										| #{item.queue.attractionName}
							div(class='row')
								div(class='row')
									div(class='col-xs-4 left-spacing-large')
										| place
									div(class='col-xs-4')
										| #{item.placeInQueue}
									div(class='col-xs-4')
								div(class='row')
									div(class='col-xs-4 left-spacing-large')
										| time joined
									div(class='col-xs-4')
										| #{item.timeJoined}
									div(class='col-xs-4')
								div(class='row')
									div(class='col-xs-12 left-spacing-large')
										span(class='button'
											onclick='handleQueueChange(event)'
											data-queue-change-url=item.queue.url + '/removeAttendee/:' + item.attendee
											data-queue-change-type='leave')
											| leave queue

						else
							div(class='row')
								div(class='col-xs-12 left-spacing-small')
									| not in any queues
